
.bg{
  height:100vh;
  background-color: rgb(192, 227, 245,0.3);
  overflow: scroll;
}
.cardanim{
  animation: fadeInAnimation ease 1s;
    /* animation-iteration-count: 1; */
}
.anim{
  animation: fadeUp ease 1s;
}

@keyframes fadeUp {
  0% {
        opacity: 0;
        transform:translateY(200px);  
    }
    100% {
        opacity: 1;
        
     }
}
  
@keyframes fadeInAnimation {
  0% {
        opacity: 0;
        transform:translateX(-200px);  
    }
    100% {
        opacity: 1;
        
     }
}


.card-grid-container {
  margin-left: 70px;
  margin-right: 100px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 3rem;
  /* grid-template-rows: 300px; */
}
.img-container {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  justify-items: center;
  align-items: center;
  
  /* background-color: rgb(192, 227, 245, 0.3); */
  
  /* background-color:blue; */
  /* margin: 0; */
}
.imgclass {
  transition-duration: 0.6s;
  grid-column: 2 / 3;
  height: 70%;
  width: 70%;
  margin-bottom: 300px;
  /* justify-self: center; */
  
  /* transform: scale(1.2) translateY(-80px); */
  object-fit: contain;
  opacity: 0.9;
  

}
@media (max-width: 900px) {
  .card-grid-container {
    grid-template-columns: 1fr 1fr;
    margin: 30px 30px;
    margin-top: 300px;
  }

  .img-container {
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: -19;
  }

  .imgclass {
    transform: translateY(100px);
  }
}

@media (max-width: 500px) {
  .card-grid-container {
    grid-template-columns: 1fr;
    margin: auto 30px;
  }
  form input{
    width: 200px;
  }

  .imgclass {
    visibility: hidden;
  }
  
  .container{
    margin-top: 40px;
  }

}
