@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo&family=Josefin+Slab&family=Jost:wght@300;400&family=Montserrat&family=Quicksand&family=Raleway&display=swap");

.card {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
  text-align: justify;
  font-family: "Jost", sans-serif;
  box-shadow: 0 0 10px rgb(192, 227, 245, 1);
  background: white;
}

.card-active {
  color: #250b63;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0;
  font-family: "Arvo", serif;
}

.card-info {
  font-size: 18px;
  color: grey;
}

.card-button > button {
  padding: 10px 30px;
  background: white;
  border: 2px solid #250b63;
  border-radius: 3px;
  margin: 20px 0px;
  font-weight: 600;
  color: black;
  font-family: "Montserrat";
  transition-duration: 0.5s;
}

.card-button-active > button {
  padding: 12px 32px;
  border: none;
  border-radius: 3px;
  margin: 20px 0px;
  font-family: "Montserrat";
  background: #250b63;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.5s;
}

.card-button > button:hover,
.card-button-active > button:hover {
  box-shadow: 0 0 2px #250b63;
}

.card-button > button:focus,
.card-button-active > button:focus {
  outline: none !important;
}
